# environment files
.vscode/
__pycache__/

# audio and video export housing
unused_promo_wav/
used_promo_wav/
exports/

# output files
output_waveform.mov
output_waveformTEMP_MPY_wvf_snd.mp3
output_wobble.mov
output_wobbleTEMP_MPY_wvf_snd.mp3
debug/